{% extends template('widget') %}

{% define data = {
    costCenter: _widget.costCenter,
    budget: _widget.budget,
} %}

{% block body %}
    {% if data.costCenter %}
        <div class="cost-center-summary">
            <span class="cost-center-summary__label">{{ 'purchasing_control.summary.cost_center_label' | trans }}:</span>
            <strong class="cost-center-summary__value">{{ data.costCenter.name }}</strong>

            {% if data.budget %}
                <span class="cost-center-summary__separator"> | </span>
                <span class="cost-center-summary__label">{{ 'purchasing_control.summary.budget_label' | trans }}:</span>
                <strong class="cost-center-summary__value">
                    {{ data.budget.name }}
                    ({{ data.budget.remainingAmount | money(true, data.budget.currencyIsoCode) }} {{ 'purchasing_control.summary.budget_remaining' | trans }})
                </strong>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
