{% extends model('component') %}

{% define config = {
    name: 'cost-center-selector',
    tag: 'cost-center-selector',
} %}

{% define data = {
    form: required,
    selectedCostCenter: null,
    selectedBudget: null,
    quote: required,
    isLocked: required,
} %}

{% block body %}
    {% block title %}
        <h5>{{ 'purchasing_control.title' | trans }}</h5>
    {% endblock %}

    {% block content %}
        {% if data.isLocked %}
            {{ block('cost_center_selector_locked') }}
        {% else %}
            {{ block('cost_center_selector_form') }}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block cost_center_selector_locked %}
    {% if data.selectedCostCenter %}
        <div class="spacing-bottom">
            <label>{{ 'purchasing_control.selector.label' | trans }}:</label>
            <span>{{ data.selectedCostCenter.name }}</span>
        </div>
    {% endif %}

    {% if data.selectedBudget %}
        <div class="spacing-bottom--smaller">
            <span>{{ 'purchasing_control.budget.selector.label' | trans }}:</span>
            <strong>{{ data.selectedBudget.name }}</strong>
        </div>
        <div class="spacing-bottom">
            <span>{{ 'purchasing_control.budget.remaining' | trans }}:</span>
            <strong>{{ data.selectedBudget.remainingAmount | money(true, data.quote.currency.code) }}</strong>
        </div>
    {% endif %}
{% endblock %}

{% block cost_center_selector_form %}
    {{ form_start(data.form, {'action': path('company/cost-center/update-quote')}) }}
    {{ block('cost_center_field') }}
    {{ block('budget_field') }}
    {{ form_end(data.form) }}
{% endblock %}

{% block cost_center_field %}
    <div class="spacing-bottom">
        {{ form_row(data.form.idCostCenter) }}
    </div>
{% endblock %}

{% block budget_field %}
    {% if not data.selectedCostCenter %}
        {% do data.form.idBudget.setRendered() %}
        {% do data.form.apply.setRendered() %}
    {% elseif data.form.idBudget.vars.choices | length > 0 %}
        <div class="spacing-bottom">
            {{ form_widget(data.form.idBudget, { 'attr': {'class': "#{config.jsName}__budget-control"} }) }}
        </div>
        {% if data.selectedBudget %}
            <div class="spacing-bottom">
                {{ 'purchasing_control.budget.remaining' | trans }}:
                <strong class="{{ config.jsName }}__budget-remaining">{{ data.selectedBudget.remainingAmount | money(true, data.quote.currency.code) }}</strong>
            </div>
        {% endif %}
        <div class="{{ config.jsName }}__apply-warning text-alert is-hidden">{{ 'purchasing_control.budget.apply_warning' | trans }}</div>
        {{ form_widget(data.form.apply) }}
    {% else %}
        {% do data.form.idBudget.setRendered() %}
        {% do data.form.apply.setRendered() %}
        <p>{{ 'purchasing_control.budget.no_budgets_found' | trans }}</p>
    {% endif %}
{% endblock %}